# Ignore Mac system files
.DS_store

# Ignore folders
node_modules
pdf

# Ignore production
dist

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
