# Ignore Mac system files
.DS_store

# Ignore folders
node_modules
pdf
psd
iOS
iOS-asset-creator

# Ignore production
# dist

# Ignore all text files
*.txt
*.psd

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
